@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;

}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  width: 100%;
  overflow-x: hidden;
  background: fixed no-repeat 50% 50% url('./Images/back--min.jpg');
  background-size: cover;
  background-position: center;
}
::-webkit-scrollbar{
  width: 10px;
  background: #306;
}
::-webkit-scrollbar-track{
  border: 1px solid #306;
}
::-webkit-scrollbar-thumb{
  background: #7700ad;
  border-radius: 40px;
  opacity: .5;
}